/*** Common styles ***/

.container{width: 1020px !important;padding: 0;}

/* <hgroup> */
h1{color: #e2393b;font-size: 30px;margin-bottom: 20px;}

/* Loading */
.loading{min-height: 300px;text-align: center;}
.loading .preloader{background: url('../images/preloader.gif');display: inline-block;height: 32px;width: 32px;}

/* Graphic's header */
.head{background: #e5e5e5;padding: 25px 20px 21px;margin-bottom: 25px;}
.head h4{font-weight: 300 !important;}
.head .toolbar > div{display: inline-block;margin: 0;}

/* Forms */
	
	/* Radios & Checkboxes*/
	.radioContent{border:1px solid #d9d9d9;background: #f5f5f5;}
	.checkbox, .radio{display: table-cell;margin: 0;}
	.checkbox label, .radio label{border-right: 1px solid #d9d9d9;padding: 10px 12px 10px 30px;}
	.checkbox label:hover, .radio label:hover{background: #ececec;}